class <%= class_name -%>Service < ApplicationService
  step :validate
<% steps.each do |method| -%>
  step :<%= method %>
<% end -%>

  protected

  def validate(input)
    validation = <%= class_name -%>Contract.call(input)

    if validation.success?
      Success(validation.to_h)
    else
      Failure(validation.errors.to_h)
    end
  end

<% steps.each do |method| -%>
  def <%= method -%>; end
<% end -%>

  private
end
